.login__button {
  border: none;
  cursor: pointer;
  margin: 216px 0 0;
  padding: 0;
  color: #000000;
  width: 358px;
  height: 50px;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.login__button:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 634px) {
  .login__button {
    margin: 173px 0 0;
    width: 260px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
