.login__form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  min-height: 350px; */
  margin: 60px auto;
  width: 358px;
}

@media screen and (max-width: 634px) {
  .login__form {
    width: 260px;
    margin: 40px auto;
  }
}
