.login__signin-link {
  margin: 0 5px 0;
  max-width: 358px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.login__signin-link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

